<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <form th:object="${news}" th:action="@{/news/}" method="post">
        <input type="hidden" th:field="*{id}"/>


        <h1 class="panel-title">News Form</h1>

        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" th:field="*{name}"/>
        </div>

        <div class="form-group">
            <label>Content:</label>
            <textarea type="text" class="form-control" rows="5" th:field="*{content}"/>
        </div>

        <div class="form-group">
            <label>Categories:</label>
            <select class="form-control" name="category.id">
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:selected="${category.id.equals(news.category.id)}"
                        th:text="${category.name}">Name
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>